DB_DRIVER=postgres
DB_SOURCE=postgresql://root:real-estate2025@postgres:5432/real_estate?sslmode=disable

HTTP_PORT=8000
HTTP_MAX_HEADER_BYTES=1
HTTP_READ_TIMEOUT=15s
HTTP_WRITE_TIMEOUT=15s
CORS_ALLOWED_ORIGINS=http://localhost:3000

CACHE_TTL=60s

AUTH_ACCESS_TOKEN_TTL=2h
AUTH_REFRESH_TOKEN_TTL=720h
AUTH_VERIFICATION_CODE_LENGTH=8
AUTH_ACCESS_SIGNING_KEY=CHANGE_ME_ACCESS_KEY
AUTH_REFRESH_SIGNING_KEY=CHANGE_ME_REFRESH_KEY

LIMITER_RPS=100
LIMITER_BURST=200
LIMITER_TTL=5m

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=real-estate2025
REDIS_DB=0

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=real-estate
MINIO_SECRET_KEY=real-estate2025@
MINIO_BUCKETS=real-estate,users-avatars
MINIO_REGION=us-east-1
MINIO_SECURE=false

SMTP_HOST=smtp.mail.ru
SMTP_PORT=465
SMTP_FROM=example@mail.com
SMTP_PASSWORD=CHANGE_ME

TEMPLATE_CONTACT_FORM_EMAIL=./templates/contact_form_email.html
TEMPLATE_TOUR_FORM_EMAIL=./templates/tour_form_email.html

SUBJECT_CONTACT_FORM_EMAIL=New message from site
SUBJECT_TOUR_FORM_EMAIL=New message from site

APP_ENV=local

WATERMARK_PATH=logo.png

EXCHANGE_API_KEY=CHANGE_ME
GOOGLE_APPLICATION_CREDENTIALS=

TRANSLATE_CONCURRENCY=3
MINIO_REPROCESS_WORKERS=4
MINIO_REPROCESS_QUEUE=100
